@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "SFPRODISPLAYBOLD";
    src: url("../public/Fonts/SF-Pro-Text-Bold.ttf");
  }
  @font-face {
    font-family: "Inter";
    src: url("../public/Fonts/Inter-Bold.otf");
  }
  
  @font-face {
    font-family: "INTERDISPLAYLIGHT";
    src: url("../public/Fonts/Inter-Light.otf");
  }
  @font-face {
    font-family: "SFPRODISPLAYSEMIBOLD";
    src: url("../public/Fonts/SF-Pro-Text-Semibold.ttf");
  }

  @font-face {
    font-family: "SFPRODISPLAYMEDIUM";
    src: url("../public/Fonts/SF-Pro-Text-Medium.ttf");
  }

  @font-face {
    font-family: "SFPRODISPLAYREGULAR";
    src: url("../public/Fonts/SF-Pro-Text-Regular.ttf");
  }
