@tailwind base;
@tailwind components;
@tailwind utilities;

  @font-face {
    font-family: "GeneralSans";
    src: url("../public/Fonts/GeneralSans-Regular.otf");
  }
  @font-face {
    font-family: "GeneralSansBold";
    src: url("../public/Fonts/GeneralSans-Bold.otf");
  }
  @font-face {
    font-family: "GeneralSansMedium";
    src: url("../public/Fonts/GeneralSans-Medium.otf");
  }
  @font-face {
    font-family: "GeneralSansSemiBold";
    src: url("../public/Fonts/GeneralSans-Semibold.otf");
  }

  @font-face {
    font-family: "INTERDISPLAYLIGHT";
    src: url("../public/Fonts/Inter-Light.otf");
  }
 
